body {
    background-color:#ffffff;
    font-family: ;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  